{% extends "layouts/user-school.html" %}

{% set pageName="Check your answers" %}

{% set primaryNavId = "mentors" %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <form action="mentor-added" method="post">
        <span class="govuk-caption-l">Add a mentor</span>
        <h1 class="govuk-heading-l">Check your answers</h1>
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "First name"
                },
                value: {
                 text: "Thea"
                }
              },
              {
                key: {
                  text: "Last name"
                },
                value: {
                  text: "Weiss"
                }
              },
              {
                key: {
                  text: "Teacher reference number (TRN)"
                },
                value: {
                  text: data['mentorTRN']
                },
                actions: {
                  items: [
                    {
                      href: "add-mentor",
                      text: "Change",
                      visuallyHiddenText: "Teacher reference number (TRN)"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Date of birth"
                },
                value: {
                  text: "21/07/1978"
                },
                actions: {
                  items: [
                    {
                      href: "add-mentor",
                      text: "Change",
                      visuallyHiddenText: "date of birth"
                    }
                  ]
                }
              }
            ]
          }) }}

          {{ govukInsetText({
            html: "I confirm that Thea Weiss has been informed that the Department for Education will store their information in line with the <a href=''>privacy notice</a> and have provided them with a copy of this notice for reference."
          }) }}

          {{ govukButton({
            text: "Save mentor"
          }) }}
      </form>

      <p class="govuk-body"><a href="mentors">Cancel</a></p>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
