{% extends "layouts/main.html" %}

{% set pageName="Getting started" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ pageName }}
      </h1>

      <p class="govuk-body govuk-!-margin-bottom-7">You’ll need to complete all steps to start using the service. If you need help, contact <a href="mailto:manage.schoolplacements@education.gov.uk">manage.schoolplacements@education.gov.uk</a></p>


<ul class="govuk-task-list">

  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="onboarding-add-itt-contact-question" aria-describedby="getting-started-1-status">
        1. Set a lead contact for ITT providers
      </a>
    </div>
    <div class="govuk-task-list__status" id="getting-started-1-status">
      {% if data ['onboardingITTcontact'] == "true" %}
        <strong class="govuk-tag govuk-tag--green">
          Complete
        </strong>
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">
          Not started
        </strong>
      {% endif %}
    </div>
  </li>

  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="#onboarding-add-users-question" aria-describedby="getting-started-3-status">
        2. Add admin users
      </a>
    </div>
    <div class="govuk-task-list__status" id="getting-started-3-status">
      <strong class="govuk-tag govuk-tag--blue">
        Not started
      </strong>
    </div>
  </li>

  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="getting-started-4-status">
        3. Add partner providers
      </a>
    </div>
    <div class="govuk-task-list__status" id="getting-started-4-status">
      <strong class="govuk-tag govuk-tag--blue">
        Not started
      </strong>
    </div>
  </li>

  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="getting-started-5-status">
        4. Add mentors
      </a>
    </div>
    <div class="govuk-task-list__status" id="getting-started-5-status">
      <strong class="govuk-tag govuk-tag--blue">
        Not started
      </strong>
    </div>
  </li>

  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="getting-started-6-hint getting-started-6-status">
        5. Add the first placement
      </a>
      <div id="getting-started-6-hint" class="govuk-task-list__hint">
        You will need to set a lead contact first
      </div>
    </div>
    <div class="govuk-task-list__status" id="getting-started-6-status">
      <strong class="govuk-tag govuk-tag--grey">
        Cannot start yet
      </strong>
    </div>
  </li>

</ul>


  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
