{% extends "layouts/main.html" %}

{% set pageName="Getting started" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ pageName }}
      </h1>

      <p class="govuk-body govuk-!-margin-bottom-7">You’ll need to complete all steps to start using the service. If you need help, contact <a href="mailto:manage.schoolplacements@education.gov.uk">manage.schoolplacements@education.gov.uk</a></p>

{{ govukTaskList({
  idPrefix: "getting-started",
  items: [
    {
      title: {
        text: "1. Set a lead contact for ITT providers"
      },
      href: "onboarding-add-itt-contact-question",
      status: {
        tag: {
          text: "Complete",
          classes: "govuk-tag--green"
        }
      }
    },
    {
      title: {
        text: "2. Add admin users"
      },
      href: "#onboarding-add-users-question",
      status: {
        tag: {
          text: "Not started",
          classes: "govuk-tag--blue"
        }
      }
    },
    {
      title: {
        text: "3. Add partner providers"
      },
      href: "#",
      status: {
        tag: {
          text: "Not started",
          classes: "govuk-tag--blue"
        }
      }
    },
    {
      title: {
        text: "4. Add mentors"
      },
      href: "#",
      status: {
        tag: {
          text: "Not started",
          classes: "govuk-tag--blue"
        }
      }
    },
    {
      title: {
        text: "5. Add the first placement"
      },
      hint: {
        text: "You will need to set a lead contact first"
      },
      href: "#",
      status: {
        tag: {
          text: "Cannot start yet",
          classes: "govuk-tag--grey"
        }
      }
    }
  ]
}) }}

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
