{% extends "layouts/user-provider-ideation-b.html" %}

{% set pageName="Find schools" %}

{% set primaryNavId = "partners" %}

{% set back = false %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      {{ pageName }}
      </h1>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="filters">
      <form action="find-school-filtered"  method="post">
      <h2 class="govuk-heading-m">Filter</h2>
      {{ govukButton({
            text: "Apply filters"
          }) }}

      <div class="individualFilter">
        {{ govukInput({
            label: {
              text: "Search by location",
              classes: "govuk-label--s",
              isPageHeading: true
            },
            hint: {
              text: "Enter a town, city or postcode"
            },
            id: "schoollocation",
            name: "schoollocation",
            classes: "govuk-!-margin-bottom-1"
          }) }}

          <p class="govuk-body-s" style="margin-top: -25px; color: #5F6368;">Powered by Google</p>

        </div>

        <div class="individualFilter">
        {{ govukInput({
            label: {
              text: "Search by name",
              classes: "govuk-label--s",
              isPageHeading: true
            },
            hint: {
              text: "Enter a school name or URN"
            },
            id: "location",
            name: "location",
            classes: "govuk-!-margin-bottom-1"
          }) }}

        </div>

 <div class="individualFilter">
      {{ govukCheckboxes({
        classes: "govuk-checkboxes--small",
        name: "phase",
        fieldset: {
          legend: {
            text: "Phase",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Primary",
            text: "Primary"
          },
          {
            value: "Secondary",
            text: "Secondary"
          }
        ]
      }) }}
      </div>

      <div class="individualFilter">
      {{ govukCheckboxes({
        classes: "govuk-checkboxes--small",
        name: "placementsInService",
        fieldset: {
          legend: {
            text: "Placements listed",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "Not recorded",
            text: "Not recorded"
          }
        ]
      }) }}
      </div>

      <div class="individualFilter">
      {{ govukRadios({
        classes: "govuk-radios--small",
        name: "schoolToShow",
        fieldset: {
          legend: {
            text: "Last offered placements",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "No recent placements",
            text: "No recent placements",
            checked: true
          },
          {
            value: "Offered placements in 2023 - 2024",
            text: "Offered placements in 2023 - 2024"
          },
          {
            value: "Offered placements in 2022 - 2023",
            text: "Offered placements in 2022 - 2023"
          }
        ]
      }) }}
      </div>

       <div class="individualFilter">
      {{ govukCheckboxes({
        classes: "govuk-checkboxes--small",
        name: "mentors",
        fieldset: {
          legend: {
            text: "Trained mentors",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "Unknown",
            text: "Unknown"
          }
        ]
      }) }}
      </div>


      <div class="individualFilter">
        <h3 class="govuk-heading-s">Establishment group</h3>
        <input type="search" class="govuk-input govuk-!-margin-bottom-1" >
          {{ govukCheckboxes({
            name: "school",
            classes: "govuk-checkboxes--small",
            fieldset: {
              legend: {
                text: "School",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s govuk-visually-hidden"
              }
            },
            items: [
              {
                value: "Academies",
                text: "Academies"
              },
              {
                value: "Children's Centres",
                text: "Children's Centres"
              },
              {
                value: "Colleges",
                text: "Colleges"
              },
              {
                value: "Free Schools",
                text: "Free Schools"
              },
              {
                value: "Independent schools",
                text: "Independent schools"
              },
              {
                value: "Local authority maintained schools",
                text: "Local authority maintained schools"
              }
            ]
          }) }}
      </div>

            {{ govukButton({
            text: "Apply filters"
          }) }}

    </form>
  </div>
</div>

<div class="govuk-grid-column-two-thirds">
  <div class="govuk-form-group  govuk-!-margin-top-2 govuk-!-margin-bottom-1">

      <h2 class="govuk-heading-m">23,682 schools</h2>
      <p class="govuk-hint">Results sorted alphabetically</p>

      <div class="view-map-container">
      <span class="gias-map-toggle-icon-container">
            <svg width="20px" height="30px" viewBox="0 0 20 30" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M10,0 C15.5228475,0 20,4.96379951 20,11.0869565 C20,17.2101135 10,30 9.97821351,30 C9.97242216,30 9.2646317,29.0962442 8.22846607,27.654196 L7.92380612,27.2278506 C6.77632342,25.6131918 5.3074999,23.4459539 3.94691638,21.146335 L3.57885453,20.5161997 C1.63361341,17.1413409 0,13.5672227 0,11.0869565 C0,4.96379951 4.4771525,0 10,0 Z M10,4.58937198 C6.93175139,4.58937198 4.44444444,7.34703838 4.44444444,10.7487923 C4.44444444,14.1505462 6.93175139,16.9082126 10,16.9082126 C13.0682486,16.9082126 15.5555556,14.1505462 15.5555556,10.7487923 C15.5555556,7.34703838 13.0682486,4.58937198 10,4.58937198 Z" id="Combined-Shape" fill="currentColor"></path>
        </g>
        </svg>
      </span>
      <a href="#" id="view-map-link">View on a map</a>
      </div>

          <hr class="govuk-section-break govuk-section-break--visible">

          <div class="searchResult">
              <h2 class="govuk-heading-m"><a href="school-detail-bede">Ab Kettleby Primary School</a></h2>

                  <dl class="app-result-detail">

                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Phase (age range)
                      </dt>
                      <dd class="app-result-detail__value">
                        Primary (3 to 11)
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Establishment group
                      </dt>
                      <dd class="app-result-detail__value">
                        Academy converter
                      </dd>
                    </div>

                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Address
                      </dt>
                      <dd class="app-result-detail__value">
                        Wartnaby Road, Ab Kettleby, Melton Mowbray, Leicestershire, LE14 3JJ
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Trained mentors
                      </dt>
                      <dd class="app-result-detail__value">
                        Yes
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement status
                      </dt>
                      <dd class="app-result-detail__value">
                        Offered placements in 2022 - 2023
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placements listed
                      </dt>
                      <dd class="app-result-detail__value">
                        Yes
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement contact
                      </dt>
                      <dd class="app-result-detail__value">
                        Andrea Smith (andrea.smith@abkettleby.co.uk)
                      </dd>
                    </div>
                  </dl>
          </div>






  <div class="searchResult">
              <h2 class="govuk-heading-m"><a href="#">Abacus Belsize Primary School</a></h2>

                  <dl class="app-result-detail">
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Phase (age range)
                      </dt>
                      <dd class="app-result-detail__value">
                        Primary (3 to 11)
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Establishment group
                      </dt>
                      <dd class="app-result-detail__value">
                        Free schools
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Address
                      </dt>
                      <dd class="app-result-detail__value">
                        Jubilee Waterside Centre, 105 Camley Street, London, Not recorded, N1C 4PF
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Trained mentors
                      </dt>
                      <dd class="app-result-detail__value">
                        Unknown
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement status
                      </dt>
                      <dd class="app-result-detail__value">
                        No recent placements
                      </dd>
                    </div>

                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placements listed
                      </dt>
                      <dd class="app-result-detail__value">
                        Not recorded
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement contact
                      </dt>
                      <dd class="app-result-detail__value">
                        Unknown
                      </dd>
                    </div>
                  </dl>
          </div>


          <div class="searchResult">
              <h2 class="govuk-heading-m"><a href="#">Abacus Primary School</a></h2>

                  <dl class="app-result-detail">
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Phase (age range)
                      </dt>
                      <dd class="app-result-detail__value">
                       Primary (3 to 11)
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Establishment group
                      </dt>
                      <dd class="app-result-detail__value">
                        Community school
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Address
                      </dt>
                      <dd class="app-result-detail__value">
                       Tresco Way, The Wick, Wickford, Essex, SS12 9GJ
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Trained mentors
                      </dt>
                      <dd class="app-result-detail__value">
                        Yes
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement status
                      </dt>
                      <dd class="app-result-detail__value">
                       Offered placements in 2022 - 2023
                      </dd>
                    </div>

                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placements listed
                      </dt>
                      <dd class="app-result-detail__value">
                        Not recorded
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement contact
                      </dt>
                      <dd class="app-result-detail__value">
                        Unknown
                      </dd>
                    </div>
                    </dl>
          </div>


          <div class="searchResult">
              <h2 class="govuk-heading-m"><a href="#">Abbas and Templecombe Church School</a></h2>

                  <dl class="app-result-detail">
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Phase (age range)
                      </dt>
                      <dd class="app-result-detail__value">
                        Primary (3 to 11)
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Establishment group
                      </dt>
                      <dd class="app-result-detail__value">
                        Community school
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Address
                      </dt>
                      <dd class="app-result-detail__value">
                        School Lane, Templecombe, Somerset, BA8 0HP
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Trained mentors
                      </dt>
                      <dd class="app-result-detail__value">
                        Yes
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement status
                      </dt>
                      <dd class="app-result-detail__value">
                       Offered placements in 2023 - 2024
                      </dd>
                    </div>

                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placements listed
                      </dt>
                      <dd class="app-result-detail__value">
                        Yes
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement contact
                      </dt>
                      <dd class="app-result-detail__value">
                        Bill Johnson (bill.johnson@school.co.uk)
                      </dd>
                    </div>
                    </dl>
          </div>

                   <div class="searchResult">
              <h2 class="govuk-heading-m"><a href="#">Abberley Parochial VC Primary School</a></h2>

                  <dl class="app-result-detail">
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Phase (age range)
                      </dt>
                      <dd class="app-result-detail__value">
                        Primary (3 to 11)
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Establishment group
                      </dt>
                      <dd class="app-result-detail__value">
                        Voluntary controlled school
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Address
                      </dt>
                      <dd class="app-result-detail__value">
                        Apostles Oak, Abberley, Worcestershire, WR6 6AA
                      </dd>
                    </div>
                     <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Trained mentors
                      </dt>
                      <dd class="app-result-detail__value">
                        Unknown
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement status
                      </dt>
                      <dd class="app-result-detail__value">
                        Offered placements in 2022 - 2023
                      </dd>
                    </div>

                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placements listed
                      </dt>
                      <dd class="app-result-detail__value">
                        Yes
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement contact
                      </dt>
                      <dd class="app-result-detail__value">
                        Harpreet Singh (harpreet@school.co.uk)
                      </dd>
                    </div>
                    </dl>
          </div>

                   <div class="searchResult">
              <h2 class="govuk-heading-m"><a href="#">Abbey Catholic Primary School</a></h2>

                  <dl class="app-result-detail">
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Phase (age range)
                      </dt>
                      <dd class="app-result-detail__value">
                        Primary (3 to 11)
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Establishment group
                      </dt>
                      <dd class="app-result-detail__value">
                        Academy converter
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Address
                      </dt>
                      <dd class="app-result-detail__value">
                        Sutton Road, Erdington, Birmingham, West Midlands, B23 6QL
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Trained mentors
                      </dt>
                      <dd class="app-result-detail__value">
                        Yes
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement status
                      </dt>
                      <dd class="app-result-detail__value">
                        Offered placements in 2022 - 2023
                      </dd>
                    </div>

                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placements listed
                      </dt>
                      <dd class="app-result-detail__value">
                        Not recorded
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement contact
                      </dt>
                      <dd class="app-result-detail__value">
                       Unknown
                      </dd>
                    </div>
                  </dl>

          </div>

                   <div class="searchResult">
              <h2 class="govuk-heading-m"><a href="#">Abbey CofE Academy</a></h2>

                  <dl class="app-result-detail">
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Phase (age range)
                      </dt>
                      <dd class="app-result-detail__value">
                        Primary (3 to 11)
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Establishment group
                      </dt>
                      <dd class="app-result-detail__value">
                        Academy sponsor led
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Address
                      </dt>
                      <dd class="app-result-detail__value">
                        Vicar Lane, Daventry, Northamptonshire, NN11 4GD
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Trained mentors
                      </dt>
                      <dd class="app-result-detail__value">
                        Yes
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement status
                      </dt>
                      <dd class="app-result-detail__value">
                        No recent placements
                      </dd>
                    </div>

                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placements listed
                      </dt>
                      <dd class="app-result-detail__value">
                        Yes
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement contact
                      </dt>
                      <dd class="app-result-detail__value">
                        Unknown
                      </dd>
                    </div>
                  </dl>
          </div>

                   <div class="searchResult">
              <h2 class="govuk-heading-m"><a href="#">Abbey CofE Infant School</a></h2>

                  <dl class="app-result-detail">
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Phase (age range)
                      </dt>
                      <dd class="app-result-detail__value">
                        Primary (3 to 7)
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Establishment group
                      </dt>
                      <dd class="app-result-detail__value">
                        Voluntary controlled school
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Address
                      </dt>
                      <dd class="app-result-detail__value">
                        Aston Road, Nuneaton, Warwickshire, CV11 5EL
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Trained mentors
                      </dt>
                      <dd class="app-result-detail__value">
                        Yes
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement status
                      </dt>
                      <dd class="app-result-detail__value">
                        Offered placements in 2023 - 2024
                      </dd>
                    </div>

                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placements listed
                      </dt>
                      <dd class="app-result-detail__value">
                        Not recorded
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement contact
                      </dt>
                      <dd class="app-result-detail__value">
                        Anne Rogers (anne.rogers@theschool.co.uk)
                      </dd>
                    </div>
                  </dl>
          </div>

                   <div class="searchResult">
              <h2 class="govuk-heading-m"><a href="#">Abbey College, Ramsey</a></h2>

                  <dl class="app-result-detail">
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Phase (age range)
                      </dt>
                      <dd class="app-result-detail__value">
                        Secondary (11 to 18)
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Academy converter
                      </dt>
                      <dd class="app-result-detail__value">
                        Community school
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Address
                      </dt>
                      <dd class="app-result-detail__value">
                        Abbey Road, Ramsey, Cambridgeshire, PE26 1DG
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Trained mentors
                      </dt>
                      <dd class="app-result-detail__value">
                        Yes
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement status
                      </dt>
                      <dd class="app-result-detail__value">
                        Offered placements in 2022 - 2023
                      </dd>
                    </div>
                  <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placements listed
                      </dt>
                      <dd class="app-result-detail__value">
                        Not recorded
                      </dd>
                    </div>
                  <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement contact
                      </dt>
                      <dd class="app-result-detail__value">
                        Unknown
                      </dd>
                    </div>
                    </dl>
          </div>

                   <div class="searchResult">
              <h2 class="govuk-heading-m"><a href="#">Abbey Court Foundation Special School</a></h2>

                  <dl class="app-result-detail">
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Phase (age range)
                      </dt>
                      <dd class="app-result-detail__value">
                        Not applicable (3 to 19)
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Establishment group
                      </dt>
                      <dd class="app-result-detail__value">
                        Community special school
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Address
                      </dt>
                      <dd class="app-result-detail__value">
                        Rede Court Road, Strood, Rochester, Kent, ME2 3SP
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Trained mentors
                      </dt>
                      <dd class="app-result-detail__value">
                        Unknown
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement status
                      </dt>
                      <dd class="app-result-detail__value">
                        No recent placements
                      </dd>
                    </div>

                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placements listed
                      </dt>
                      <dd class="app-result-detail__value">
                        Not recorded
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Placement contact
                      </dt>
                      <dd class="app-result-detail__value">
                        Unknown
                      </dd>
                    </div>
                  </dl>
          </div>

                    <br>

{{ govukPagination({
  previous: {
    href: "#"
  },
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}



  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
