{% extends "layouts/user-provider-ideation-b.html" %}

{% set pageName="2024 - 2025 overview" %}

{% set primaryNavId = "overview" %}

{% set back = false %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-visually-hidden">
      {{ pageName }}
      </h1>
</div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-one-third">
    <div class="card">
      <div class="headline-card">
          <h2 class="headline-figure">76 <span class="headline-label">candidates</span></h2>
      </div>
      <div class="card-actions">
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          <li>68 offered</li>
          <li>8 rejected</li>
          <li>12 accepted</li>
          <li>1 declined</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="card">
      <div class="headline-card">
          <h2 class="headline-figure">113 <span class="headline-label">placement offers</span></h2>
      </div>
      <a href="" class="headline-notify govuk-link govuk-link--no-visited-state">8 new offers</a>
      <div class="card-actions">
        <ul class="govuk-list govuk-!-margin-bottom-0">
          <li><a href="" class="govuk-link govuk-link--no-visited-state">All offers</a></li>
          <li><a href="" class="govuk-link govuk-link--no-visited-state">Breakdown by subject</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="card">
      <div class="headline-card">
          <h2 class="headline-figure">39 <span class="headline-label">placement needed</span></h2>
      </div>
      <div class="card-actions">
        <ul class="govuk-list govuk-!-margin-bottom-0">
          <li><a href="find-placements" class="govuk-link govuk-link--no-visited-state">Search all placements</a></li>
          <li><a href="find-school" class="govuk-link govuk-link--no-visited-state">Find a school</a></li>
          <li><a href="" class="govuk-link govuk-link--no-visited-state">Edit placement listings</a></li>
          <li><a href="placements-needed" class="govuk-link govuk-link--no-visited-state">Breakdown by subject</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>





{% endblock %}
