{% extends "layouts/user-provider-ideation-b.html" %}

{% set pageName="Placements" %}

{% set primaryNavId = "placements" %}

{% set back = false %}

{% block content %}


      {% set plannedStatus %}
          {{ govukTag({
           text: "Planned",
           classes: "govuk-tag--red"
          }) }}
      {% endset %}

      {% set availableStatus %}
          {{ govukTag({
           text: "Available",
           classes: "govuk-tag--yellow"
          }) }}
      {% endset %}

      {% set confirmedStatus %}
          {{ govukTag({
           text: "Confirmed",
           classes: "govuk-tag--green"
          }) }}
      {% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  {{ govukNotificationBanner({
    type: "success",
    html: '<h2 class="govuk-heading-m">' + flash + '</h2>'
  }) if flash.length }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ mojPageHeaderActions({
  heading: {
    text: 'Placements'
  },
  items: [{
    text: 'Find placements',
    href: 'find-placements'
  }]
}) }}

{{ mojSubNavigation({
        label: 'Sub navigation',
        items: [ {
          text: 'This year (2024 to 2025)',
          href: 'placements',
          classes: 'govuk-!-font-weight-bold',
          active: true
        }, {
          text: 'Next year (2025 to 2026)',
          href: '#',
          classes: 'govuk-!-font-weight-bold'
        },
        {
          text: 'Past years',
          href: '#',
          classes: 'govuk-!-font-weight-bold'
        } ]
      }) }}

    <!-- {{ govukInsetText({
            html: "<p>Before you add a placement, you must <a href='add-itt-contact'>add a placement contact</a> so that the teacher training providers can contact you.</p>"
          }) }} -->

      </div>
      </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukTable({
  caption: "7 first placements needed",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Subject"
    },
    {
      text: "Needed"
    },
    {
      text: "Action"
    }
  ],
  rows: [
    [
      {
        text: "English"
      },
      {
        text: "2"
      },
      {
        html: "<a href='find-placements'>Find English placements</a>"
      }
    ],
    [
      {
        text: "History"
      },
      {
        text: "1"
      },
      {
        html: "<a href='find-placements'>Find history placements</a>"
      }
    ],
    [
      {
        text: "Primary"
      },
      {
        text: "4"
      },
      {
        html: "<a href='find-placements'>Find primary placements</a>"
      }
    ]
  ]
}) }}


    {{ govukTable({
  caption: "32 second placements needed",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Subject"
    },
    {
      text: "Needed"
    },
    {
      text: "Action"
    }
  ],
  rows: [
    [
      {
        text: "English"
      },
      {
        text: "3"
      },
      {
        html: "<a href='find-placements'>Find English placements</a>"
      }
    ],
    [
      {
        text: "Geography"
      },
      {
        text: "4"
      },
      {
        html: "<a href='find-placements'>Find geography placements</a>"
      }
    ],
    [
      {
        text: "History"
      },
      {
        text: "5"
      },
      {
        html: "<a href='find-placements'>Find history placements</a>"
      }
    ],
    [
      {
        text: "Maths"
      },
      {
        text: "4"
      },
      {
        html: "<a href='find-placements'>Find maths placements</a>"
      }
    ],
    [
      {
        text: "Primary"
      },
      {
        text: "9"
      },
      {
        html: "<a href='find-placements'>Find primary placements</a>"
      }
    ],
    [
      {
        text: "Science"
      },
      {
        text: "7"
      },
      {
        html: "<a href='find-placements'>Find science placements</a>"
      }
    ]
  ]
}) }}


  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
