{% extends "layouts/user-provider-v2.html" %}

{% set pageName="Placement information for St Bede's Catholic Primary School, South Shields" %}

{% set primaryNavId = "partners" %}

{% set back = false %}

{% block content %}

      {% set availableTag %}
          {{ govukTag({
           text: "Available",
           classes: "govuk-tag--turquoise"
          }) }}
      {% endset %}

      {% set unavailableTag %}
          {{ govukTag({
           text: "Provider assigned",
           classes: "govuk-tag--orange"
          }) }}
      {% endset %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ pageName }}
      </h1>
</div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

{{ mojSubNavigation({
        label: 'Sub navigation',
        items: [ {
          text: 'School details',
          href: 'school-detail-bede',
          classes: 'govuk-!-font-weight-bold'
        }, {
          text: 'This year (2024 to 2025)',
          href: 'school-current-placements-bede',
          classes: 'govuk-!-font-weight-bold'
        }, {
          text: 'Next year (2025 to 2026)',
          href: 'school-future-placements-bede',
          classes: 'govuk-!-font-weight-bold',
          active: true
        }
        ]
      }) }}

  </div>
  </div>

  <div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

      <p>
      No placements listed
    </p>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
