{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Email: An ITT provider has added your organisation to its list of partner schools 
{% endblock %}

{% block content %}

  <h2 class="govuk-heading-m">
    An ITT provider has added your organisation to its list of partner schools 
  </h2>
  <p class="govuk-body">
  From: manageschoolplacements@education.gov.uk<br>
  To: admin@whitburncofeacademy.org
  </p>
  <p class="govuk-body">
   You are receiving this notification because Teach First has added Whitburn Church of England Academy to its list of partner schools.
  </p>
  <p class="govuk-body">
   <a href="providers">View or manage your list of partner providers</a>
  </p>

{% endblock %}
