{% extends "layouts/user.html" %}

{% set pageName="Are you sure you want to remove this partner provider?" %}

{% set primaryNavId = "providers" %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Teach First</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      {{ govukButton({
        text: "Remove partner provider",
        href: "provider-removed",
        classes: "govuk-button--warning"
      }) }}

      <p class="govuk-body"><a href="provider-detail" class="govuk-link">Cancel</a></p>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
