//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Import local component styles
@import "app/views/_components/primary-navigation/_primary-navigation.scss";

// Add extra styles here

/// GOV UK HEADER TO DFE STYLE ONE //

.govuk-header__service-name { font-weight: normal; }
.govuk-header__logo { width: auto; padding-right: 0; }
.govuk-header__content { padding-left: 5px; }
@media (min-width: 48.0625em) {
.govuk-header__navigation { width:auto; float: right; position: absolute; right: 0; top: 10px;}
}
.govuk-header { border-bottom: 10px solid #1d70b8; }

/// Phase banner ///

.govuk-phase-banner--no-border-bottom { border-bottom: 0; }

/// Destructive links ///

.app-link--destructive {
    color: #d4351c;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
}
.app-link--destructive:link, .app-link--destructive:visited, .app-link--destructive:hover, .app-link--destructive:active { color: #d4351c; }

@media (min-width: 40.0625em) {
    .app-link--destructive {
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}

/// Tag in heading ///

h1 .govuk-tag { position: relative; top: -7px; margin-left:5px;}

/// Organisation header ///

.app-organisation-actions {
    margin-top: 10px;
    margin-bottom: 10px;
}

.app-organisation-actions__title {
    float: left;
    width: 60%;
}

.app-organisation-actions__title {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
}

.app-organisation-actions__title {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25;
}

.app-organisation-actions__actions {
    display: table-cell;
    width: 40%;
    padding-right: 0;
    text-align: right;
    float: right;
}

.app-organisation-actions__actions {
    margin: 0;
}

.app-organisation-actions::after {
    content: "";
    display: block;
    clear: both;
}