{% extends "layouts/user.html" %}

{% set pageName="Placements" %}

{% set primaryNavId = "placements" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  {{ govukNotificationBanner({
    type: "success",
    html: '<h2 class="govuk-heading-m">' + flash + '</h2>'
  }) if flash.length }}
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ pageName }}
      </h1>

      {% set statusTag %}
        {% if data['placementProvider'] %}
          {{ govukTag({
            text: "Unavailable",
            classes: "govuk-tag--orange"
          }) }}
        {% else %}
          {{ govukTag({
           text: "Available",
           classes: "govuk-tag--turquoise"
          }) }}
        {% endif %}
      {% endset %}

      {% set placementTitle %}
        {% if data['placementModernForeignLanguage'] %}
          <a href="placement-detail">{{ data['placementModernForeignLanguage'] }}</a>
        {% else %}
          <a href="placement-detail">{{ data['placementSubject'] }}</a>
        {% endif %}
      {% endset %}

      {% set mentorName %}
        {% if data['placementMentor'] %}
          {{ data['placementMentor'] }}
        {% else %}
          Not known yet
        {% endif %}
      {% endset %}

        {% if not data['ittContactEmail'] %}

        {{ govukInsetText({
            html: "<p>You must add the <a href='add-itt-contact'>ITT placement contact</a> email before adding a placement</p>"
          }) }}

        {% elseif data['placementSubject'] %}
       <a href="add-placement-subject-level" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Add placement
      </a>

          {{ govukTable({
            caption: "Placements",
            captionClasses: "govuk-table__caption--m govuk-visually-hidden",
            firstCellIsHeader: false,
            head: [
              {
                text: "Subject"
              },
              {
                text: "Mentor"
              },
              {
                text: "Status"
              }
            ],
            rows: [
              [
                {
                  html: placementTitle
                },
                {
                  html: mentorName
                },
                {
                  html: statusTag
                }
              ]
            ]
          }) }}
      {% else %}
      <a href="add-placement-subject-level" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Add placement
      </a>

      <p class="govuk-body">There are no placements for Whitburn Church of England Academy.</p>
      {% endif %}
  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
