{% extends "layouts/user-school.html" %}

{% set pageName="Enter the lead ITT provider contact" %}

{% set primaryNavId = "details" %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

     <form action="add-itt-contact-check" method="post">

      {% if data['onboarding'] === "true" %}
            <span class="govuk-caption-l">Getting started</span>
      {% else %}
            <span class="govuk-caption-l">Organisation details</span>
      {% endif %}
        <h1 class="govuk-heading-l">{{ pageName }}</h1>

        <p class="govuk-body">This will be the person that receives all ITT enquiries and notifications</p>

        {{ govukInput({
          label: {
            text: "Full name",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          classes: "govuk-input--width-20",
          id: "ittContactName",
          name: "ittContactName"
        }) }}

      {{ govukInput({
          label: {
            text: "Email",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          id: "ittContactEmail",
          name: "ittContactEmail"
        }) }}

          {{ govukButton({
            text: "Continue"
          }) }}


      </form>


      {% if data['onboarding'] === "true" %}
            <p class="govuk-body"><a href="onboarding">Back to getting started page</a></p>
      {% else %}
            <p class="govuk-body"><a href="details">Cancel</a></p>
      {% endif %}

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
