{% extends "layouts/user-school.html" %}

{% set pageName="Personal details" %}

{% set primaryNavId = "details" %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

     <form action="add-user-check" method="post">

      {% if data['onboarding'] === "true" %}
            <span class="govuk-caption-l">Getting started</span>
      {% else %}
            <span class="govuk-caption-l">Add user</span>
      {% endif %}
        <h1 class="govuk-heading-l">{{ pageName }}</h1>

        {{ govukInput({
          label: {
            text: "Full name",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          classes: "govuk-input--width-20",
          id: "userName",
          name: "userName"
        }) }}

      {{ govukInput({
          label: {
            text: "Email",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          id: "userEmail",
          name: "userEmail"
        }) }}

          {{ govukButton({
            text: "Continue"
          }) }}


      </form>

       {% if data['onboarding'] === "true" %}
            <p class="govuk-body"><a href="onboarding">Back to getting started page</a></p>
      {% else %}
            <p class="govuk-body"><a href="users">Cancel</a></p>
      {% endif %}

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
