{% extends "layouts/main.html" %}

{% set pageName="Manage school placements" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ pageName }}
      </h1>
  </div>
  </div>


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">This service is for schools offering placements for postgraduate trainee teachers and initial teacher training (ITT) providers in England.</p>
      <h2 class="govuk-heading-s">If you are a school, use this service to:</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>publish your placement capacity so that ITT providers can contact you</li>
        <li>add and assign mentors to placements to track capacity</li>
      </ul>

            <h2 class="govuk-heading-s">If you are an ITT provider, use this service to:</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>find schools who have placement capacity to host a trainee</li>
      </ul>


      {{ govukButton({
        text: "Start now",
        href: "dfe-sign-in",
        isStartButton: true
      }) }}
  </div>

  <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-s">Related content</h3>
      <ul class="govuk-list govuk-body-s">
      <li><a href="https://www.gov.uk/guidance/offer-a-trainee-teacher-placement" class="govuk-link">Guidance on what schools need to do to offer trainee teacher placements</a></li>
      <li><a href="https://www.gov.uk/guidance/teacher-reference-number-trn" class="govuk-link">Guidance on how to find or request a TRN</a></li>
      </ul>
  </div>

</div>

{% endblock %}
