{% extends "layouts/user-provider-v2.html" %}

{% set pageName="Find schools" %}

{% set primaryNavId = "partners" %}

{% set back = false %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      {{ pageName }}
      </h1>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="filters">
      <h2 class="govuk-heading-m">Filter</h2>
      {{ govukButton({
            text: "Apply filters"
          }) }}

      <div class="individualFilter">
        {{ govukInput({
            label: {
              text: "Search by location",
              classes: "govuk-label--s",
              isPageHeading: true
            },
            hint: {
              text: "Enter a town, city or postcode"
            },
            id: "location",
            name: "location",
            classes: "govuk-!-margin-bottom-1"
          }) }}

          <p class="govuk-body-s" style="margin-top: -25px; color: #5F6368;">Powered by Google</p>

        </div>

        <div class="individualFilter">
        {{ govukInput({
            label: {
              text: "Search by name",
              classes: "govuk-label--s",
              isPageHeading: true
            },
            hint: {
              text: "Enter a school name or URN"
            },
            id: "location",
            name: "location",
            classes: "govuk-!-margin-bottom-1"
          }) }}

        </div>

      <div class="individualFilter">
      {{ govukRadios({
        classes: "govuk-radios--small",
        name: "schoolToShow",
        fieldset: {
          legend: {
            text: "Schools to show",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "All schools",
            text: "All schools",
            checked: true
          },
          {
            value: "Currently doing ITT",
            text: "Currently doing ITT"
          },
          {
            value: "Not currently doing ITT",
            text: "Not currently doing ITT"
          }
        ]
      }) }}
      </div>

       <div class="individualFilter">
      {{ govukRadios({
        classes: "govuk-radios--small",
        name: "phase",
        fieldset: {
          legend: {
            text: "Phase",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "All through",
            text: "All through"
          },
          {
            value: "Primary",
            text: "Primary"
          },
          {
            value: "Secondary",
            text: "Secondary"
          }
        ]
      }) }}
      </div>


      <div class="individualFilter">
        <h3 class="govuk-heading-s">Establishment group</h3>
        <input type="search" class="govuk-input govuk-!-margin-bottom-1" >
          {{ govukCheckboxes({
            name: "school",
            classes: "govuk-checkboxes--small",
            fieldset: {
              legend: {
                text: "School",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s govuk-visually-hidden"
              }
            },
            items: [
              {
                value: "Academies",
                text: "Academies"
              },
              {
                value: "Children's Centres",
                text: "Children's Centres"
              },
              {
                value: "Colleges",
                text: "Colleges"
              },
              {
                value: "Free Schools",
                text: "Free Schools"
              },
              {
                value: "Independent schools",
                text: "Independent schools"
              },
              {
                value: "Local authority maintained schools",
                text: "Local authority maintained schools"
              }
            ]
          }) }}
      </div>

  </div>
</div>

<div class="govuk-grid-column-two-thirds">
  <div class="govuk-form-group  govuk-!-margin-top-2 govuk-!-margin-bottom-1">

      <h2 class="govuk-heading-m">4 schools</h2>
      <p class="govuk-hint">Results sorted by distance from <strong>NE33 3AG</strong></p>

          <hr class="govuk-section-break govuk-section-break--visible">

          <div class="searchResult">
              <h2 class="govuk-heading-m"><a href="school-detail">St Bede's Catholic Primary School, South Shields</a></h2>
              {{ govukTag({
                text: "Not doing ITT",
                classes: "govuk-tag--orange govuk-!-margin-top-0 govuk-!-margin-bottom-6"
                }) }}


                  <dl class="app-result-detail">

                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Phase
                      </dt>
                      <dd class="app-result-detail__value">
                        Primary
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Age range
                      </dt>
                      <dd class="app-result-detail__value">
                        3 to 11
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Establishment group
                      </dt>
                      <dd class="app-result-detail__value">
                        Independent schools
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Ofsted rating
                      </dt>
                      <dd class="app-result-detail__value">
                        Outstanding
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Address
                      </dt>
                      <dd class="app-result-detail__value">
                        Claypath Lane, South Shields, Tyne and Wear, NE33 4PG
                      </dd>
                    </div>
                     <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Distance
                      </dt>
                      <dd class="app-result-detail__value">
                        0.27 miles
                      </dd>
                    </div>
                  </dl>

  <h3 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-1">Travel time</h3>

                  <dl class="app-result-detail">

                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Public transport
                      </dt>
                      <dd class="app-result-detail__value">
                        6 minutes
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Driving
                      </dt>
                      <dd class="app-result-detail__value">
                        4 minutes
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Walking
                      </dt>
                      <dd class="app-result-detail__value">
                        9 minutes
                      </dd>
                    </div>

                  </dl>
          </div>






  <div class="searchResult">
              <h2 class="govuk-heading-m"><a href="school-detail">Westoe Crown Primary School</a></h2>
              {{ govukTag({
                text: "Doing ITT",
                classes: "govuk-tag--turquoise govuk-!-margin-top-0 govuk-!-margin-bottom-6"
                }) }}
                  <dl class="app-result-detail">
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Phase
                      </dt>
                      <dd class="app-result-detail__value">
                        Primary
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Age range
                      </dt>
                      <dd class="app-result-detail__value">
                        3 to 11
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Establishment group
                      </dt>
                      <dd class="app-result-detail__value">
                        Community school
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Ofsted rating
                      </dt>
                      <dd class="app-result-detail__value">
                        Good
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Address
                      </dt>
                      <dd class="app-result-detail__value">
                        Sea Winnings Way, South Shields, Tyne and Wear, NE33 3NS
                      </dd>
                    </div>
                     <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Distance
                      </dt>
                      <dd class="app-result-detail__value">
                        0.36 miles
                      </dd>
                    </div>
                  </dl>

                  <h3 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-1">Travel time</h3>
                  <dl class="app-result-detail">
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Public transport
                      </dt>
                      <dd class="app-result-detail__value">
                        9 minutes
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Driving
                      </dt>
                      <dd class="app-result-detail__value">
                        5 minutes
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Walking
                      </dt>
                      <dd class="app-result-detail__value">
                        10 minutes
                      </dd>
                    </div>
                  </dl>
          </div>


          <div class="searchResult">
              <h2 class="govuk-heading-m"><a href="school-detail">Laygate Community School</a></h2>
              {{ govukTag({
                text: "Doing ITT",
                classes: "govuk-tag--turquoise govuk-!-margin-top-0 govuk-!-margin-bottom-6"
                }) }}
                  <dl class="app-result-detail">
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Phase
                      </dt>
                      <dd class="app-result-detail__value">
                        Primary
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Age range
                      </dt>
                      <dd class="app-result-detail__value">
                        3 to 11
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Establishment group
                      </dt>
                      <dd class="app-result-detail__value">
                        Community school
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Ofsted rating
                      </dt>
                      <dd class="app-result-detail__value">
                        Good
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Address
                      </dt>
                      <dd class="app-result-detail__value">
                       Laygate Lane, South Shields, Tyne and Wear, NE33 4JJ
                      </dd>
                    </div>
                     <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Distance
                      </dt>
                      <dd class="app-result-detail__value">
                        0.38 miles
                      </dd>
                    </div>
                  </dl>

                  <h3 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-1">Travel time</h3>
                  <dl class="app-result-detail">
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Public transport
                      </dt>
                      <dd class="app-result-detail__value">
                        4 minutes
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Driving
                      </dt>
                      <dd class="app-result-detail__value">
                        5 minutes
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Walking
                      </dt>
                      <dd class="app-result-detail__value">
                        13 minutes
                      </dd>
                    </div>
                  </dl>
          </div>


          <div class="searchResult">
              <h2 class="govuk-heading-m"><a href="school-detail">Marine Park Primary School</a></h2>
              {{ govukTag({
                text: "Not doing ITT",
                classes: "govuk-tag--orange govuk-!-margin-top-0 govuk-!-margin-bottom-6"
                }) }}
                  <dl class="app-result-detail">
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Phase
                      </dt>
                      <dd class="app-result-detail__value">
                        Primary
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Age range
                      </dt>
                      <dd class="app-result-detail__value">
                        3 to 11
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Establishment group
                      </dt>
                      <dd class="app-result-detail__value">
                        Community school
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Ofsted rating
                      </dt>
                      <dd class="app-result-detail__value">
                        Outstanding
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Address
                      </dt>
                      <dd class="app-result-detail__value">
                        Sea Winnings Way, South Shields, Tyne and Wear, NE33 3NS
                      </dd>
                    </div>
                     <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Distance
                      </dt>
                      <dd class="app-result-detail__value">
                        0.46 miles
                      </dd>
                    </div>
                  </dl>

                  <h3 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-1">Travel time</h3>
                  <dl class="app-result-detail">
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Public transport
                      </dt>
                      <dd class="app-result-detail__value">
                        9 minutes
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Driving
                      </dt>
                      <dd class="app-result-detail__value">
                        5 minutes
                      </dd>
                    </div>
                    <div class="app-result-detail__row">
                      <dt class="app-result-detail__key">
                        Walking
                      </dt>
                      <dd class="app-result-detail__value">
                        10 minutes
                      </dd>
                    </div>
                  </dl>
          </div>



  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
