{% extends "layouts/user.html" %}

{% set pageName="Placements" %}

{% set primaryNavId = "placements" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  {{ govukNotificationBanner({
    type: "success",
    html: '<h2 class="govuk-heading-m">' + flash + '</h2>'
  }) if flash.length }}
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ pageName }}
      </h1>

      <a href="add-placement-subject-level" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Add placement
      </a>

      {% set unavailableTag %}
          {{ govukTag({
            text: "Unavailable",
            classes: "govuk-tag--orange"
          }) }}
      {% endset %}

      {% set availableTag %}
          {{ govukTag({
            text: "Available",
            classes: "govuk-tag--turquoise"
          }) }}
      {% endset %}

      {% set statusTag %}
        {% if data['placementProvider'] %}
          {{ govukTag({
            text: "Unavailable",
            classes: "govuk-tag--orange"
          }) }}
        {% else %}
          {{ govukTag({
           text: "Available",
           classes: "govuk-tag--turquoise"
          }) }}
        {% endif %}
      {% endset %}

      {% set placementTitle %}
        {% if data['placementModernForeignLanguage'] %}
          <a href="placement-detail">{{ data['placementModernForeignLanguage'] }}</a>
        {% else %}
          <a href="placement-detail">{{ data['placementSubject'] }}</a>
        {% endif %}
      {% endset %}

      {% set mentorName %}
        {% if data['placementMentor'] %}
          {{ data['placementMentor'] }}
        {% else %}
          Not known yet
        {% endif %}
      {% endset %}

      {% set mentorAdded %}
        {% if data['placementMentor2'] %}
          {{ data['placementMentor2'] }}
        {% else %}
          Not known yet
        {% endif %}
      {% endset %}

          {{ govukTable({
            caption: "Placements",
            captionClasses: "govuk-table__caption--m govuk-visually-hidden",
            firstCellIsHeader: false,
            head: [
              {
                text: "Subject"
              },
              {
                text: "Mentor"
              },
              {
                text: "Status"
              }
            ],
            rows: [
              [
                {
                  html: placementTitle
                },
                {
                  html: mentorName
                },
                {
                  html: statusTag
                }
              ] if data['placementSubject'],
              [
                {
                  html: "<a href='placement-detail-2'>English</a>"
                },
                {
                  text: mentorAdded
                },
                {
                  html: availableTag
                }
              ],
              [
                {
                  html: "<a href='placement-detail-2'>Geography</a>"
                },
                {
                  text: "Maya Carroll"
                },
                {
                  html: availableTag
                }
              ],
              [
                {
                  html: "<a href='placement-detail-2'>Chemistry</a>"
                },
                {
                  text: "Walter Higgins"
                },
                {
                  html: unavailableTag
                }
              ],
              [
                {
                  html: "<a href='placement-detail-2'>Physics</a>"
                },
                {
                  text: "Walter Higgins"
                },
                {
                  html: unavailableTag
                }
              ],
              [
                {
                  html: "<a href='placement-detail-2'>Mathematics</a>"
                },
                {
                  text: "Anya Fuller"
                },
                {
                  html: availableTag
                }
              ]
            ]
          }) }}

      <!-- <p class="govuk-body">There are no placements for Whitburn Church of England Academy.</p> -->

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
