{% extends "layouts/main.html" %}

{% set pageName="Onboarding" %}

{% set primaryNavId = "organisation" %}

{% set back = false %}

{% block content %}

{% set userName %}
          <a href='#'>{{ data['userName'] }}</a>
      {% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  {{ govukNotificationBanner({
    type: "success",
    html: '<h2 class="govuk-heading-m">' + flash + '</h2>'
  }) if flash.length }}
  </div>
</div>


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

<!-- {{ govukDetails({
  summaryText: "How do we estimate placement numbers?",
  html: "<p>This is based on the number of candidates that are successful and the number of placements you offer each candidate. A successful candidate in Manage teacher training applications is one with a status of shortlisted, offered, or recruited.</p><p>You can change how this number is calculated from your settings at any time.</p>"
}) }} -->



<span class="govuk-caption-l">Your preferences</span>
        {{ govukRadios({
          classes: "govuk-checkboxes",
          name: "changedName",
          fieldset: {
            legend: {
              text: "How would you like to share your placement requests?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You can change this later in your settings"
            },
          items: [
            {
              value: "Only share with schools I work with",
              text: "Only share with schools I work with"
            },
            {
              value: "Share with all schools",
              text: "Share with all schools"
            }
          ]
        }) }}


        <a href="overview" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Continue
      </a>
  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
