{% extends "layouts/main.html" %}

{% set pageName="Onboarding" %}

{% set primaryNavId = "organisation" %}

{% set back = false %}

{% block content %}

{% set userName %}
          <a href='#'>{{ data['userName'] }}</a>
      {% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  {{ govukNotificationBanner({
    type: "success",
    html: '<h2 class="govuk-heading-m">' + flash + '</h2>'
  }) if flash.length }}
  </div>
</div>


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">


<span class="govuk-caption-l">Get started</span>

        {{ govukRadios({
          classes: "govuk-radios",
          name: "changedName",
          fieldset: {
            legend: {
              text: "Do you want to import information on your candidates?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: "Importing candidate name, course and application status will help you see the number of placements you need.<br><br>Only people at your organisation with a login to the service can see this information."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}


        <a href="onboarding-placements" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Continue
      </a>
  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
