{% extends "layouts/main.html" %}

{% set pageName="Onboarding" %}

{% set primaryNavId = "organisation" %}

{% set back = false %}

{% block content %}

{% set userName %}
          <a href='#'>{{ data['userName'] }}</a>
      {% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  {{ govukNotificationBanner({
    type: "success",
    html: '<h2 class="govuk-heading-m">' + flash + '</h2>'
  }) if flash.length }}
  </div>
</div>


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Your preferences</span>
        {{ govukCheckboxes({
            name: "waste",
            fieldset: {
              legend: {
                text: "Select the schools you currently work with",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "These are the schools you have worked with recently. Adding them will allow them to see your profile. You can change this later."
            },
            items: [
            {
                value: "Select all",
                text: "Select all"
              },
              {
                divider: "or"
              },
              {
                value: "Ashington Academy",
                text: "Ashington Academy"
              },
              {
                value: "Corbridge Primary School",
                text: "Corbridge Primary School"
              },
              {
                value: "Denton Primary School",
                text: "Denton Primary School"
              },
              {
                value: "Excelsior Academy",
                text: "Excelsior Academy"
              },
              {
                value: "Gosforth High School",
                text: "Gosforth High School"
              },
              {
                value: "Heaton Park Secondary School",
                text: "Heaton Park Secondary School"
              },
              {
                value: "Mortimer Comprehensive School",
                text: "Mortimer Comprehensive School"
              },
              {
                value: "Newcastle High School for Girls",
                text: "Newcastle High School for Girls"
              },
              {
                value: "St Bede's Catholic Primary School",
                text: "St Bede's Catholic Primary School"
              },
              {
                value: "St Wilfrid's Catholic Secondary School",
                text: "St Wilfrid's Catholic Secondary School"
              },
              {
                value: "Whitburn Church of England Academy",
                text: "Whitburn Church of England Academy"
              }
            ]
          }) }}


        <a href="onboarding-placement-sharing" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Continue
      </a>
  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
