{% extends "layouts/user-provider-ideation-b.html" %}

{% set pageName="Schools" %}

{% set primaryNavId = "schools" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  {{ govukNotificationBanner({
    type: "success",
    html: '<h2 class="govuk-heading-m">' + flash + '</h2>'
  }) if flash.length }}


  {{ mojPageHeaderActions({
  heading: {
    text: 'Schools'
  },
  items: [{
    text: 'Find a school',
    href: 'find-school'
  }]
}) }}
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <!-- <p class="govuk-body">There are no partner providers for Whitburn Church of England Academy.</p> -->

      {{ govukTable({
        caption: "Schools you work with",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
          {
            text: "Name"
          },
          {
            text: "Unique reference number (URN)"
          }
        ],
        rows: [
          [
            {
              html: "<a href='school-current-placements'>Ashington Academy</a>"
            },
            {
              text: "101996"
            }
          ],
          [
            {
              html: "<a href='school-current-placements'>Corbridge Primary School</a>"
            },
            {
              text: "145937"
            }
          ],
          [
            {
              html: "<a href='school-current-placements'>Denton Primary School</a>"
            },
            {
              text: "136386"
            }
          ],
          [
            {
              html: "<a href='school-current-placements'>Excelsior Academy</a>"
            },
            {
              text: "111429"
            }
          ],
          [
            {
              html: "<a href='school-current-placements'>Gosforth High School</a>"
            },
            {
              text: "386291"
            }
          ],
          [
            {
              html: "<a href='school-current-placements'>Heaton Park Secondary School</a>"
            },
            {
              text: "100193"
            }
          ],
          [
            {
              html: "<a href='school-current-placements'>Mortimer Comprehensive School</a>"
            },
            {
              text: "116729"
            }
          ],
          [
            {
              html: "<a href='school-current-placements'>Newcastle High School for Girls</a>"
            },
            {
              text: "113427"
            }
          ],
          [
            {
              html: "<a href='school-current-placements'>St Bede's Catholic Primary School</a>"
            },
            {
              text: "138712"
            }
          ],
          [
            {
              html: "<a href='school-current-placements'>St Wilfrid's Catholic Secondary School</a>"
            },
            {
              text: "111429"
            }
          ],
          [
            {
              html: "<a href='school-current-placements'>Whitburn Church of England Academy</a>"
            },
            {
              text: "121789"
            }
          ]
        ]
      }) }}

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
