{% extends "layouts/user-support-v2.html" %}

{% set pageName="Thea Weiss" %}

{% set primaryNavId = "mentors" %}

{% set back = true %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Thea Weiss</h1>



          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "First name"
                },
                value: {
                 text: "Thea"
                }
              },
              {
                key: {
                  text: "Last name"
                },
                value: {
                  text: "Weiss"
                }
              },
              {
                key: {
                  text: "Teacher reference number (TRN)"
                },
                value: {
                  text: "6400299"
                }
              }
            ]
          }) }}


      <p class="govuk-body"><a href="mentor-delete" class="govuk-link app-link--destructive">Delete mentor</a></p>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
