{% extends "layouts/user-school.html" %}

{% set pageName="Placement timing" %}

{% set primaryNavId = "placements" %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

<form method="post">
        <span class="govuk-caption-l">Add placement</span>
        {{ govukRadios({
            name: "placementTiming",
            fieldset: {
              legend: {
                text: "When can you offer this placement?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint : {
              text: "Training providers will discuss specific dates"
            },
            items: [
              {
                value: "Any time in the academic year~add-placement-check",
                text: "Any time in the academic year"
              },
              {
                value: "Specific months~add-placement-window",
                text: "Specific months"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      {% if data['onboarding'] === "true" %}
            <p class="govuk-body"><a href="onboarding">Back to getting started page</a></p>
      {% else %}
            <p class="govuk-body"><a href="placements">Cancel</a></p>
      {% endif %}

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
