{% extends "layouts/main.html" %}

{% set pageName="Manage school placements" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ pageName }}
      </h1>
  </div>
  </div>


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">This service is for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>schools offering placements for trainee teachers</li>
        <li>teacher training providers in England</li>
      </ul>

      <h2 class="govuk-heading-s">If you are a school, use this service to:</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>publish placement opportunities for trainee teachers so that teacher training providers can contact you</li>
        <li>add and assign mentors to placements to track capacity</li>
      </ul>

            <h2 class="govuk-heading-s">If you are a teacher training provider, use this service to:</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>find schools that are offering placements for trainee teachers</li>
      </ul>


      {{ govukButton({
        text: "Start now",
        href: "pre-sign-in",
        isStartButton: true
      }) }}


<!-- <h2 class="govuk-heading-s">How to get an account</h2>

<p>Ask a colleague in your organisation to add you if you do not have an account.</p>
<p>If your organisation has not been set up to use this service, email <a href="mailto:manage.schoolplacements@education.gov.uk">manage.schoolplacements@education.gov.uk</a>.</p>

-->

  </div>

  <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-s">Related content</h3>
      <ul class="govuk-list govuk-body-s">
      <li><a href="https://www.gov.uk/guidance/offer-a-trainee-teacher-placement" class="govuk-link">Guidance on what schools need to do to offer trainee teacher placements</a></li>
      <li><a href="https://www.gov.uk/guidance/teacher-reference-number-trn" class="govuk-link">Guidance on how to find or request a TRN</a></li>
      </ul>
  </div>

</div>

{% endblock %}
