{% extends "layouts/user-provider-with-trainees.html" %}

{% set pageName="Trainees" %}

{% set primaryNavId = "trainees" %}

{% set back = false %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ pageName }}
      </h1>



          {{ govukTable({
            caption: "Trainees",
            captionClasses: "govuk-table__caption--m govuk-visually-hidden",
            firstCellIsHeader: false,
            attributes: {
              'data-module': 'moj-sortable-table'
            },
            head: [
              {
                text: "Name"
              },
              {
                text: "Course"
              }
            ],
            rows: [
              [
                {
                  html: "<a href='trainee-detail'>Jennifer Banner</a>"
                },
                {
                  text: "History (HIS1)"
                }
              ],[
                {
                  html: "<a href='trainee-detail'>Malika Boutella</a>"
                },
                {
                  text: "Modern languages (French) (MD9Q)"
                }
              ],[
                {
                  html: "<a href='trainee-detail'>Peter Essien</a>"
                },
                {
                  text: "History (H152)"
                }
              ],[
                {
                  html: "<a href='trainee-detail-freida'>Freida Jackson</a>"
                },
                {
                  text: "Primary (2S8T)"
                }
              ],[
                {
                  html: "<a href='trainee-detail'>Kara Lynn Tivan</a>"
                },
                {
                  text: "English (E15P)"
                }
              ]
            ]
          }) }}

          {{ govukInsetText({
            html: "If you do not see a trainee, check they are registered in the <a href='#'>Register trainee teachers service</a>."
          }) }}

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
