{% extends "layouts/user-provider-ideation.html" %}

{% set pageName="Placement information for Whitburn Church of England School" %}

{% set primaryNavId = "schools" %}

{% set back = false %}

{% block content %}

      {% set availableTag %}
          {{ govukTag({
           text: "Available",
           classes: "govuk-tag--turquoise"
          }) }}
      {% endset %}

      {% set unavailableTag %}
          {{ govukTag({
           text: "Provider assigned",
           classes: "govuk-tag--orange"
          }) }}
      {% endset %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ pageName }}
      </h1>
</div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

{{ mojSubNavigation({
        label: 'Sub navigation',
        items: [ {
          text: 'This year (2024 to 2025)',
          href: 'school-current-placements',
          classes: 'govuk-!-font-weight-bold',
          active: true
        }, {
          text: 'Next year (2025 to 2026)',
          href: 'school-future-placements',
          classes: 'govuk-!-font-weight-bold'
        },
        {
          text: 'School details',
          href: 'school-detail',
          classes: 'govuk-!-font-weight-bold'
        } ]
      }) }}

  </div>
  </div>

  <div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">
      Placements assigned to you
    </h2>

          {{ govukTable({
            caption: "Placements",
            captionClasses: "govuk-table__caption--m govuk-visually-hidden",
            firstCellIsHeader: false,
            attributes: {
              'data-module': 'moj-sortable-table'
            },
            head: [
              {
                text: "Subject",
                classes: "govuk-!-width-one-third"
              },
              {
                text: "Expected date",
                classes: "govuk-!-width-one-third"
              },
              {
                text: "Mentor",
                classes: "govuk-!-width-one-third"
              }
            ],
            rows: [
              [
                {
                  html: "<a href='placement-detail'>English</a>"
                },
                {
                  text: "Any time in the academic year"
                },
                {
                  text: "Santham Singh"
                }
              ],[
                {
                  html: "<a href='placement-detail'>History</a>"
                },
                {
                  text: "Any time in the academic year"
                },
                {
                  text: "Jan Harrison"
                }
              ],[
                {
                  html: "<a href='placement-detail'>History</a>"
                },
                {
                  text: "Autumn term"
                },
                {
                  text: "Not yet known"
                }
              ],[
                {
                  html: "<a href='placement-detail'>Modern languages (French)</a>"
                },
                {
                  text: "Any time in the academic year"
                },
                {
                  text: "Richard Evans"
                }
              ],[
                {
                  html: "<a href='placement-detail'>Primary</a>"
                },
                {
                  text: "Spring term, Summer term"
                },
                {
                  text: "Not yet known"
                }
              ]
            ]
          }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-9">
      Other placements
    </h2>

{{ govukTable({
            caption: "Placements",
            captionClasses: "govuk-table__caption--m govuk-visually-hidden",
            firstCellIsHeader: false,
            attributes: {
              'data-module': 'moj-sortable-table'
            },
            head: [
              {
                text: "Subject",
                classes: "govuk-!-width-one-third"
              },
              {
                text: "Expected date",
                classes: "govuk-!-width-one-third"
              },
              {
                text: "Status",
                classes: "govuk-!-width-one-third"
              }
            ],
            rows: [
              [
                {
                  html: "<a href='#'>Biology</a>"
                },
                {
                  text: "Any time in the academic year"
                },
                {
                  html: availableTag
                }
              ],[
                {
                  html: "<a href='#'>Chemistry</a>"
                },
                {
                  text: "Any time in the academic year"
                },
                {
                  html: availableTag
                }
              ],[
                {
                  html: "<a href='#'>Computing</a>"
                },
                {
                  text: "Autumn term, Spring term"
                },
                {
                  html: unavailableTag
                }
              ],[
                {
                  html: "<a href='#'>Maths</a>"
                },
                {
                  text: "Any time in the academic year"
                },
                {
                  html: availableTag
                }
              ],[
                {
                  html: "<a href='#'>Physics</a>"
                },
                {
                  text: "Any time in the academic year"
                },
                {
                  html: unavailableTag
                }
              ]
            ]
          }) }}

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
