{% extends "layouts/user-school.html" %}

{% set pageName="Check your answers" %}

{% set primaryNavId = "mentors" %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

            <form action="mentor-added" method="post">
        <span class="govuk-caption-l">Mentor not found</span>
        <h1 class="govuk-heading-l">No results found for '1234567'</h1>
          <p>Check that you typed in the teacher reference number (TRN) correctly.</p>
      </form>


            <p class="govuk-body"><a href="add-mentor">Change your search</a></p>


  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
