{% extends "layouts/user-school.html" %}

{% set pageName="Placement details" %}

{% set primaryNavId = "placements" %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  {{ govukNotificationBanner({
    type: "success",
    html: '<h2 class="govuk-heading-m">' + flash + '</h2>'
  }) if flash.length }}
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Business studies</h1>
        {% if data['placementProvider'] %}
          {{ govukTag({
            text: "Unavailable",
            classes: "govuk-tag--orange govuk-!-margin-top-0 govuk-!-margin-bottom-6"
          }) }}
        {% else %}
          {{ govukTag({
           text: "Available",
           classes: "govuk-tag--turquoise govuk-!-margin-top-0 govuk-!-margin-bottom-6"
          }) }}
        {% endif %}

        {% set mentorName %}
          {% if data['placementMentor'] %}
            {{ data['placementMentor'] }}
          {% else %}
            Not known yet
          {% endif %}
        {% endset %}



          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Phase"
                },
                value: {
                 text: "Secondary"
                }
              },
              {
                key: {
                  text: "Subject"
                },
                value: {
                  text: "Business studies"
                }
              },
              {
                key: {
                  text: "Mentor"
                },
                value: {
                  text: "Not yet known"
                },
                actions: {
                  items: [
                    {
                      href: "change-placement-mentor",
                      text: "Change",
                      visuallyHiddenText: "mentor"
                    }
                  ]
                }
              },

              {
                key: {
                  text: "Provider"
                },
                value: {
                  html: "<a href='assign-a-provider'>Assign a provider</a>"
                }
              } if not data ['placementProvider']
            ]
          }) }}


<div class="govuk-inset-text">
  You can <a href="placement-preview" class="govuk-link">preview this placement</a> as it appears to providers.
</div>

  <div class="govuk-button-group">


     <a href="placement-remove" class="govuk-link app-link--destructive">Delete placement</a>
  </div>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
