{% extends "layouts/user-school.html" %}

{% set pageName="Placements" %}

{% set primaryNavId = "placements" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  {{ govukNotificationBanner({
    type: "success",
    html: '<h2 class="govuk-heading-m">' + flash + '</h2>'
  }) if flash.length }}
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ pageName }}
      </h1>

 <p class="govuk-body">There are no placements for Whitburn Church of England Academy.</p>


  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
