{% extends "layouts/user-school-v2.html" %}

{% set pageName="Check your answers" %}

{% set primaryNavId = "users" %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

            <form action="user-added" method="post">


        <span class="govuk-caption-l">Add user</span>
        <h1 class="govuk-heading-l">Confirm user details</h1>

        <p>Once added, they will be able to view, edit and create placements at your school.</p>
        <p>We will send them an email with information on how to access the Manage school placements service.</p>
        <h2 class="govuk-heading-m">User</h2>
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "First name"
                },
                value: {
                 text: data['userFirstName']
                },
                actions: {
                  items: [
                    {
                      href: "add-user",
                      text: "Change",
                      visuallyHiddenText: "first name"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Last name"
                },
                value: {
                 text: data['userLastName']
                },
                actions: {
                  items: [
                    {
                      href: "add-user",
                      text: "Change",
                      visuallyHiddenText: "last name"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Email address"
                },
                value: {
                  text: data['userEmail']
                },
                actions: {
                  items: [
                    {
                      href: "add-user",
                      text: "Change",
                      visuallyHiddenText: "user contact email"
                    }
                  ]
                }
              }
            ]
          }) }}

          {{ govukWarningText({
  text: "The user will be sent an email to tell them you’ve added them to [school name].",
  iconFallbackText: "Warning"
}) }}

          {{ govukButton({
            text: "Confirm and add user"
          }) }}
      </form>


            <p class="govuk-body"><a href="users">Cancel</a></p>


  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
