{% extends "layouts/user-school-v2.html" %}

{% set pageName="Check your answers" %}

{% set primaryNavId = "users" %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

            <form action="user-added" method="post">


        <span class="govuk-caption-l">Add user</span>
        <h1 class="govuk-heading-l">Confirm user details</h1>
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "First name"
                },
                value: {
                 text: data['userName']
                },
                actions: {
                  items: [
                    {
                      href: "add-user",
                      text: "Change",
                      visuallyHiddenText: "first name"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Last name"
                },
                value: {
                 text: data['userName']
                },
                actions: {
                  items: [
                    {
                      href: "add-user",
                      text: "Change",
                      visuallyHiddenText: "last name"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Email address"
                },
                value: {
                  text: data['userEmail']
                },
                actions: {
                  items: [
                    {
                      href: "add-user",
                      text: "Change",
                      visuallyHiddenText: "user contact email"
                    }
                  ]
                }
              }
            ]
          }) }}

          {{ govukButton({
            text: "Confirm and add user"
          }) }}
      </form>

       {% if data['onboarding'] === "true" %}
            <p class="govuk-body"><a href="onboarding">Back to getting started page</a></p>
      {% else %}
            <p class="govuk-body"><a href="users">Cancel</a></p>
      {% endif %}

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
