{% extends "layouts/user-school-v2.html" %}

{% set pageName="Confirm and let providers know you are interested in hosting ITT trainees" %}

{% set primaryNavId = "placements" %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="interested-success" method="post">

          <span class="govuk-caption-l">Open to hosting</span>
          <h1 class="govuk-heading-l">Confirm and let providers know you are interested in hosting ITT trainees</h1>

          <p>Your school will show to providers as ‘interested’. This means you might be able to host placements for trainee teachers and are interested in hearing from providers. </p>
            <p>You haven’t added any placement information so providers cannot see any of your preferences.</p>


          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "ITT contact",
                  classes: "govuk-heading-m"
                },
                actions: {
                  items: [
                    {
                      href: "placements-contact",
                      text: "Change",
                      visuallyHiddenText: "ITT contact first name"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Name"
                },
                value: {
                 text: data['firstName']+" "+data['lastName']
                }
              },
              {
                key: {
                  text: "Email address"
                },
                value: {
                  text: data['email']
                }
              }
            ]
          }) }}
          {{ govukButton({
            text: "Confirm"
          }) }}

          <p class="govuk-body"><a href="placement-hosting" class="govuk-link govuk-link--no-visited-state">Go back and add placement information</a></p>

    </form>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>


<link rel="stylesheet" href="/public/sass/accessible-autocomplete.min.css" />
<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">

  const countries = [
    'Hazlewood Junior School',
    'Outwood Academy Freeston',
    'Whitburn Church of England School',
    'The Whitby High school'
  ]

  accessibleAutocomplete({
    element: document.querySelector('#my-autocomplete-container'),
    id: 'my-autocomplete', // To match it to the existing <label>.
    source: countries
  })
</script>

{% endblock %}
