{% extends "layouts/user-school-v2.html" %}

{% set pageName="Confirm and set status to ‘open to hosting’" %}

{% set primaryNavId = "placements" %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="interested-success" method="post">

          <span class="govuk-caption-l">Open to hosting</span>
          <h1 class="govuk-heading-l">Confirm and set status to ‘open to hosting’</h1>

          <p>Your school will show to providers as ‘open to hosting’. This means providers can see that your school is thinking about hosting placements. Providers will reach out via email with more information.</p>
            <p>You haven’t added any placement information so providers cannot see any of your preferences.</p>


          <h2 class="govuk-heading-s">Contact details</h2>

           {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data['firstName']+" "+data['lastName']
            },
            actions: {
              items: [
                {
                  href: "not-hosting-contact",
                  text: "Change",
                  visuallyHiddenText: "contact name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email"
            },
            value: {
              text: data['email']
            },
            actions: {
              items: [
                {
                  href: "not-hosting-contact",
                  text: "Change",
                  visuallyHiddenText: "contact email"
                }
              ]
            }

          }
        ]
      }) }}

          {{ govukButton({
            text: "Confirm"
          }) }}

          <p class="govuk-body"><a href="placement-hosting" class="govuk-link govuk-link--no-visited-state">Go back and add placement information</a></p>

    </form>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>


<link rel="stylesheet" href="/public/sass/accessible-autocomplete.min.css" />
<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">

  const countries = [
    'Hazlewood Junior School',
    'Outwood Academy Freeston',
    'Whitburn Church of England School',
    'The Whitby High school'
  ]

  accessibleAutocomplete({
    element: document.querySelector('#my-autocomplete-container'),
    id: 'my-autocomplete', // To match it to the existing <label>.
    source: countries
  })
</script>

{% endblock %}
