{% extends "layouts/user-school-v2.html" %}

{% set pageName="Confirm and set status to ‘not hosting’" %}

{% set primaryNavId = "placements" %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="not-hosting-success" method="post">

          <span class="govuk-caption-l">Not interested in hosting this year</span>
          <h1 class="govuk-heading-l">Confirm and set status to ‘not hosting’</h1>

          <p>Your school will show to providers as ‘not hosting this year’. You can change this later.</p>
          <p>Your reason for not hosting will be shared with the Department for Education for reporting purposes.</p>

          <h2 class="govuk-heading-s">Details</h2>

  {% set list %}
        <ul class="govuk-list">
          {% for item in data['whynothosting'] %}
            <li>{{item}}
            {% if item == "Other" %}
            : {{data['otherReason']}}
            {% endif %}
            </li>
          {% endfor %}
        </ul>
  {% endset %}


      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Reason for not hosting"
            },
            value: {
              html: list
            },
            actions: {
              items: [
                {
                  href: "not-hosting-why",
                  text: "Change",
                  visuallyHiddenText: "reason for not hosting"
                }
              ]
            }
          },
          {
            key: {
              text: "Contact name"
            },
            value: {
              text: data['firstName']+" "+data['lastName']
            },
            actions: {
              items: [
                {
                  href: "not-hosting-contact",
                  text: "Change",
                  visuallyHiddenText: "contact name"
                }
              ]
            }
          },
          {
            key: {
              text: "Contact email"
            },
            value: {
              text: data['email']
            },
            actions: {
              items: [
                {
                  href: "not-hosting-contact",
                  text: "Change",
                  visuallyHiddenText: "contact email"
                }
              ]
            }

          }
        ]
      }) }}

          {{ govukButton({
            text: "Confirm"
          }) }}

          <p class="govuk-body"><a href="placement-hosting" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

    </form>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>


<link rel="stylesheet" href="/public/sass/accessible-autocomplete.min.css" />
<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">

  const countries = [
    'Hazlewood Junior School',
    'Outwood Academy Freeston',
    'Whitburn Church of England School',
    'The Whitby High school'
  ]

  accessibleAutocomplete({
    element: document.querySelector('#my-autocomplete-container'),
    id: 'my-autocomplete', // To match it to the existing <label>.
    source: countries
  })
</script>

{% endblock %}
