<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8">
    <title>
  Manage school placements - Manage school placements - GOV.UK
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">


      <link rel="icon" sizes="48x48" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.ico">
      <link rel="icon" sizes="any" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.svg" type="image/svg+xml">
      <link rel="mask-icon" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/govuk-icon-mask.svg" color="#0b0c0c">
      <link rel="apple-touch-icon" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/govuk-icon-180.png">
      <link rel="manifest" href="/plugin-assets/govuk-frontend/dist/govuk/assets/manifest.json">

    <link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <div class="email-container">

    <h1 class="govuk-heading-l">INBOX (1)</h1>

    <h2 class="govuk-heading-m">Let us know if you're hosting trainee teachers</h2>
    <p>
      <strong>From:</strong> manageschoolplacements@education.gov.uk<br>
      <strong>To:</strong> admin@schoolname.co.uk<br>
    </p>

    <p>Dear (name),</p>
<p>We’re asking schools to let us know whether they are hosting placements for trainees doing initial teacher training (ITT).</p>
<p>You can do this by logging in to our new DfE service, <a href="">Manage school placements</a>.</p>
<p>This will allow ITT providers in your local area to know whether to contact the ITT coordinator at your school.</p>
<p>It takes less than 1 minute to share your preferences, and gives you options to add more details.</p>
<p>It will also help us at the Department for Education have a better understanding of ITT across the country.</p>
<p>If you have any questions, contact us at <a href="">Manage.SchoolPlacements@education.gov.uk</a></p>
<p>Department for Education</p>

    <p>We would like to prompt you to let us and providers know whether you intend to host placements in the coming academic year.</p>

    <p><a href="dfe-sign-in" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-bottom-0" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
  </svg>
</a></p>

    <p>Best regards,</p>

    <p>DFE</p>



  </div>

  </body>

</html>