{% extends "layouts/user-school-v2.html" %}

{% set pageName="Are you sure you do not want to be contacted about placements?" %}

{% set primaryNavId = "placements" %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="not-hosting-confirm" method="post">


          {% set html %}
            <h3 class="govuk-notification-banner__heading">
              Your profile has been updated
            </h3>
            <p class="govuk-body">You can update your profile in <a class="govuk-notification-banner__link" href="#">settings</a> if your circumstances change.</p>
          {% endset %}

          {{ govukNotificationBanner({
            html: html,
            type: "success"
          }) }}

          <p>We’ve set your profile to ‘not looking to host placements this year’.</p>
          <p>Your contact details will not be shown to providers looking to place ITT trainees.</p>

          <h2 class="govuk-heading-m">What happens next</h2>

          <p>We will ask you again in 12 months whether you would like to host placements. Make sure your profile has <a href="#">up to date contact details of your ITT coordinator</a>.</p>
          <p>If you would like to host placements this year, update your profile to let providers know you’re interested.</p>

          <h2 class="govuk-heading-m">Further help with ITT</h2>

          <p>Your teaching school hub or local provider can answer any questions about ITT.</p>
          <p>They are always keen to hear from potential host schools, and can help you in a way that meets the individual needs of your school.</p>

          <p class="govuk-!-margin-bottom-0">Find your nearest:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="#">teaching school hub</a> (opens in new tab)</li>
            <li><a href="#">ITT provider</a> (opens in new tab)</li>
          </ul>



    </form>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>


<link rel="stylesheet" href="/public/sass/accessible-autocomplete.min.css" />
<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">

  const countries = [
    'Hazlewood Junior School',
    'Outwood Academy Freeston',
    'Whitburn Church of England School',
    'The Whitby High school'
  ]

  accessibleAutocomplete({
    element: document.querySelector('#my-autocomplete-container'),
    id: 'my-autocomplete', // To match it to the existing <label>.
    source: countries
  })
</script>

{% endblock %}
