{% extends "layouts/user-school.html" %}

{% set pageName="Add a partner provider" %}

{% set primaryNavId = "providers" %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Manage school placements privacy notice
        </h1>
        <p>Read the <a href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers" target="_blank">Privacy information: education providers’ workforce, including teachers (opens in new tab)</a>.</p>
        <p><a href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers#using-your-data-to-maintain-a-list-of-teachers" target="_blank">Section 8.4 (opens in new tab)</a> tells you what we do with you and your mentor’s data when you make contact with us or use this service.</p>
        <p><a href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers#using-your-datato-contact-you-for-feedback" target="_blank">Section 4.1 (opens in new tab)</a> tells you how we use your data to contact you for feedback.</p>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>



{% endblock %}
