{% extends "layouts/user-school-ideation.html" %}

{% set pageName="Overview for 2024 - 2025" %}

{% set primaryNavId = "overview" %}

{% set back = false %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-visually-hidden">
      {{ pageName }}
      </h1>
</div>
</div>




<div class="govuk-grid-row govuk-!-margin-bottom-7">

  <div class="govuk-grid-column-one-third">
    <div class="card">
      <div class="headline-card">
          <h2 class="headline-figure">4 <span class="headline-label">placements wanted</span></h2>
      </div>
      <a href="" class="headline-notify govuk-link govuk-link--no-visited-state">5 new offers</a>
      <div class="card-actions">
        <ul class="govuk-list govuk-!-margin-bottom-0">
          <li><a href="placements-needed" class="govuk-link govuk-link--no-visited-state">Manage placement listings</a></li>
          <li><a href="find-school" class="govuk-link govuk-link--no-visited-state">See offers you have made</a></li>
          <li><a href="find-placements" class="govuk-link govuk-link--no-visited-state">Find placements</a></li>
          <li><a href="find-school" class="govuk-link govuk-link--no-visited-state">Find providers</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="card">
      <div class="headline-card">
          <h2 class="headline-figure">13 <span class="headline-label">placements agreed</span></h2>
      </div>
      <div class="card-actions">
        <ul class="govuk-list govuk-!-margin-bottom-0">
          <li><a href="" class="govuk-link govuk-link--no-visited-state">See all agreed placements</a></li>
        </ul>
    </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="card">
      <div class="headline-card">
          <h2 class="headline-figure">8 <span class="headline-label">providers</span></h2>
      </div>
      <div class="card-actions">
        <ul class="govuk-list govuk-!-margin-bottom-0">
          <li><a href="" class="govuk-link govuk-link--no-visited-state">Providers you work with</a></li>
          <li><a href="" class="govuk-link govuk-link--no-visited-state">Find providers</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>




{% endblock %}
