{% extends "layouts/user.html" %}

{% set pageName="Provider details" %}

{% set primaryNavId = "providers" %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Teach First</h1>

          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Organisation name"
                },
                value: {
                 text: "Teach First"
                }
              },
              {
                key: {
                  text: "UK provider reference number (UKPRN)"
                },
                value: {
                  text: "10024318"
                }
              },
              {
                key: {
                  text: "Unique reference number (URN)"
                },
                value: {
                  text: "Not entered",
                  classes: "govuk-hint"
                }
              }
            ]
          }) }}

          <h2 class="govuk-heading-m govuk-!-margin-top-9">
      Contact details
    </h2>

  {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Email address"
          },
          value: {
            html: "<a href='mailto:schoolpartnerships@teachfirst.org.uk'>schoolpartnerships@teachfirst.org.uk</a>"
          }
        },
        {
          key: {
            text: "Telephone number"
          },
          value: {
            text: "0203 862 8000"
          }
        },
        {
          key: {
            text: "Website"
          },
          value: {
            text: "Not entered",
             classes: "govuk-hint"
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            text: "Not entered",
            classes: "govuk-hint"
          }
        }
      ]
    }) }}


      <p class="govuk-body"><a href="provider-remove" class="govuk-link app-link--destructive">Remove partner provider</a></p>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
