{% extends "layouts/main.html" %}

{% set pageName="Do you want to add more users?" %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <form method="post" action="onboarding-add-users-answer">
        <span class="govuk-caption-l">Getting started</span>
        {{ govukRadios({
            name: "addUsersQuestion",
            fieldset: {
              legend: {
                text: pageName,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Users are members of your school who you would like to have access to the Manage school placements service."
            },
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              },
              {
                value: "I'll do this later",
                text: "I'll do this later"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
      </form>

      <p class="govuk-body"><a href="onboarding">Back to getting started page</a></p>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
