{% extends "layouts/main.html" %}

{% set pageName="Manage school placements" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ pageName }}
      </h1>
  </div>
  </div>


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">This service is for accredited Initial Teacher training (ITT) providers and placement schools in England.</p>
      <p class="govuk-body">Use this service to if you're an Initial Teacher Training  provider to find and manage school partnerships. If you are a school, you can add mentors and manage placements.</p>

    <h2 class="govuk-heading-m">Before you start</h2>
      <p class="govuk-body">If you are a school, you will be asked for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the mentor’s Teacher Reference Number (TRN) and date of birth</li>
      </ul>

      {{ govukButton({
        text: "Start now",
        href: "placements",
        isStartButton: true
      }) }}
  </div>

  <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-s">Related content</h3>
      <a href="https://www.gov.uk/guidance/teacher-reference-number-trn" class="govuk-link">Guidance on how to find or request a TRN</a>
  </div>

</div>

{% endblock %}
