{% extends "layouts/user.html" %}

{% set pageName="Placements" %}

{% set primaryNavId = "placements" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ pageName }}
      </h1>

      <a href="add-placement-subject-level" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Add placement
      </a>

      {% set statusTag %}
        <h1 class="govuk-heading-l">{{ placementTitle }}
        {% if data['placementProvider'] %}
          {{ govukTag({
            text: "Allocated",
            classes: "govuk-tag--orange"
          }) }}
        {% else %}
          {{ govukTag({
           text: "Available",
           classes: "govuk-tag--turquoise"
          }) }}
        {% endif %}
      {% endset %}

      {% set placementTitle %}
        {% if data['placementModernForeignLanguage'] %}
          <a href="placement-detail">{{ data['placementModernForeignLanguage'] }}</a>
        {% else %}
          <a href="placement-detail">{{ data['placementSubject'] }}</a>
        {% endif %}
      {% endset %}

        {% if data['placementSubject'] %}
          {{ govukTable({
            caption: "Placements",
            captionClasses: "govuk-table__caption--m govuk-visually-hidden",
            firstCellIsHeader: false,
            head: [
              {
                text: "Subject"
              },
              {
                text: "Mentor"
              },
              {
                text: "Status"
              }
            ],
            rows: [
              [
                {
                  html: placementTitle
                },
                {
                  text: data['placementMentor']
                },
                {
                  html: statusTag
                }
              ]
            ]
          }) }}
      {% else %}
      <p class="govuk-body">There are no partner providers for Whitburn Church of England Academy.</p>
      {% endif %}
  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
