{% extends "layouts/user.html" %}

{% set pageName="Partner providers" %}

{% set primaryNavId = "providers" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ pageName }}
      </h1>

      <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Add partner provider
      </a>

      <!-- <p class="govuk-body">There are no partner providers for Whitburn Church of England Academy.</p> -->

      {{ govukTable({
        caption: "Mentors",
        captionClasses: "govuk-table__caption--m govuk-visually-hidden",
        firstCellIsHeader: false,
        head: [
          {
            text: "Name"
          },
          {
            text: "UK provider reference number (UKPRN)"
          }
        ],
        rows: [
          [
            {
              html: "<a href='provider-detail'>Best Practice Network</a>"
            },
            {
              text: "10019464"
            }
          ],
          [
            {
              html: "<a href='provider-detail'>NIoT: National Institute of Teaching, founded by the School-Led Development Trust</a>"
            },
            {
              text: "10090839"
            }
          ]
        ]
      }) }}

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
