{% extends "layouts/main.html" %}

{% set pageName="Ideation prototypes" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter">
    {{ mojSideNavigation({
      label: 'Side navigation',
      items: [{
        text: 'School user',
        href: 'index'
      }, {
        text: 'Provider user',
        href: 'provider-user'
      }, {
        text: 'Support user',
        href: 'support-user'
      }, {
        text: 'Ideation',
        href: 'ideation',
        active: true
      }]
    }) }}
  </div>

  <div class="govuk-grid-column-three-quarters">

<h1 class="govuk-heading-l">
    {{ pageName }}
    </h1>

   <h2 class="govuk-heading-m">Colin</h2>

        {{ govukTag({
          text: "Ideation",
          classes: "govuk-tag--red govuk-!-margin-bottom-5"
        }) }}

        <p class="govuk-body">
          A selection of ideas and concepts that may help shape the future of the service.
        </p>

        <h2 class="govuk-heading-m">Concept 2</h2>
     <p>Rethinking the service to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Use data from across DfE to automate tasks</li>
          <li>Allow providers to show what placements they need</li>
          </ul>

   {{ govukButton({
            text: "Provider view",
            href: "ideation/v2/overview"
          }) }}

          {{ govukButton({
            text: "School view",
            href: "ideation/v3/overview"
          }) }}

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <h2 class="govuk-heading-m">Concept 1</h2>

        <p class="govuk-body">
          Brings in a find a school option to help providers find new schools for placements.
        </p>

          {{ govukButton({
            text: "Sign in as Colin",
            href: "ideation/v4/index",
            isStartButton: true
          }) }}

  </div>

</div>

{% endblock %}
