{% extends "layouts/main.html" %}

{% set pageName="School user prototypes" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter">
      <ul class="govuk-list">
          <li><a href="index" class="govuk-link--no-underline govuk-link--no-visited-state">School user</a></li>
          <li><a href="provider-user" class="govuk-link--no-underline govuk-link--no-visited-state">Provider user</a></li>
          <!-- <li><a href="multi-org-user" class="govuk-link--no-underline govuk-link--no-visited-state">Multi-org user</a></li>
          <li><a href="support-user" class="govuk-link--no-underline govuk-link--no-visited-state">Support user</a></li> -->
        </ul>
  </div>

  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">
    {{ pageName }}
    </h1>

        {{ govukTag({
          text: "School",
          classes: "govuk-tag--purple govuk-!-margin-bottom-5"
        }) }}

        <p class="govuk-body">
          Anne is a lead mentor within a school.
        </p>

        <p class="govuk-body">
          Anne’s role includes:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            setting timetables for mentors within the school
          </li>
          <li>
            being the main point of contact for providers
          </li>
          <li>
            ensuring mentors’ training is up-to-date
          </li>
        </ul>

        <h2 class="govuk-heading-m">Version 1.0 (Post UR round 3)</h2>
        <p>Consolidated from the scenarios tested in round three, iterations added.</p>

        {{ govukButton({
          text: "Start now",
          href: "school-users/v1/",
          isStartButton: true
        }) }}

        <h2 class="govuk-heading-m">Features</h2>

        <p><a href="school-users/v1/skip-onboarding">Skip onboarding journey</a></p>

        <h2 class="govuk-heading-m">UR round 3 scenarios</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="ur-archive/school-user-001/">Scenario 1: Add a placement</a>
          </li>
          <li>
            <a href="ur-archive/school-user-002/">Scenario 2: Managing a placement, add a mentor</a>
          </li>
          <li>
            <a href="ur-archive/school-user-003/">Scenario 3: Partner providers</a>
          </li>
        </ul>




  </div>

</div>

{% endblock %}
