{% extends "layouts/main.html" %}

{% set pageName="Provider user prototypes" %}

{% set title="Provider user prototypes" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter">

    {{ mojSideNavigation({
      label: 'Side navigation',
      items: [{
        text: 'School user',
        href: 'index'
      }, {
        text: 'Provider user',
        href: 'provider-user',
        active: true
      }, {
        text: 'Support user',
        href: 'support-user'
      }, {
        text: 'Ideation',
        href: 'ideation'
      }]
    }) }}
  </div>

  <div class="govuk-grid-column-three-quarters">

<h1 class="govuk-heading-l">
    {{ title }}
    </h1>

   <h2 class="govuk-heading-m">Patricia</h2>

        {{ govukTag({
          text: "Provider",
          classes: "govuk-tag--orange govuk-!-margin-bottom-5"
        }) }}

        <p class="govuk-body">
          Patricia is a placements manager at a higher education institute (HEI).
        </p>

        <p class="govuk-body">
          Patricia’s role includes:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            recruiting and training mentors
          </li>
          <li>
            organising placements for trainees
          </li>
          <li>
            keeping track of known mentors
          </li>
        </ul>



        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 class="govuk-heading-m">Version 1.2</h2>
     <p>Includes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Check your answers changes</li>
          <li>Wayfinding</li>
          </ul>

        {{ govukButton({
          text: "Start now",
          href: "provider-users/v1-2/index",
          isStartButton: true
        }) }}

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 class="govuk-heading-m">Version 1.1</h2>
     <p>Includes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Content sweep changes</li>
          <li>Placement window and academic year</li>
          </ul>

        {{ govukButton({
          text: "Start now",
          href: "provider-users/v1-1/index",
          isStartButton: true
        }) }}

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <h2 class="govuk-heading-m">Provider user research versions (1)</h2>
        <p class="govuk-body">
          Includes trainee data.
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="provider-users/v1/index">Provider user journey</a>
          </li>
        </ul>
  </div>

</div>

{% endblock %}

