{% extends "layouts/main.html" %}

{% set pageName="Support user prototypes" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter">
    {{ mojSideNavigation({
      label: 'Side navigation',
      items: [{
        text: 'School user',
        href: 'index'
      }, {
        text: 'Provider user',
        href: 'provider-user'
      }, {
        text: 'Support user',
        href: 'support-user',
        active: true
      }]
    }) }}
  </div>

  <div class="govuk-grid-column-three-quarters">

<h1 class="govuk-heading-l">
    {{ pageName }}
    </h1>

   <h2 class="govuk-heading-m">Colin</h2>

        {{ govukTag({
          text: "Support",
          classes: "govuk-tag--blue govuk-!-margin-bottom-5"
        }) }}

        <p class="govuk-body">
          Colin is a DfE support agent who has administrator access to all organisations.
        </p>

          {{ govukButton({
            text: "Sign in as Colin",
            href: "support-users/v1/index",
            isStartButton: true
          }) }}

  </div>

</div>

{% endblock %}
