{% extends "layouts/user-support.html" %}

{% set pageName="Castle View Primary School" %}

{% set primaryNavId = "organisations" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Whitburn Church of England Academy</h1>

        {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Details',
          href: 'school',
          classes: 'govuk-!-font-weight-bold',
          active: true
        }, {
          text: 'Users',
          href: '#',
          classes: 'govuk-!-font-weight-bold'
        }, {
          text: 'Partner providers',
          href: '#',
          classes: 'govuk-!-font-weight-bold'
        }, {
          text: 'Mentors',
          href: '#',
          classes: 'govuk-!-font-weight-bold'
        }, {
          text: 'Placements',
          href: 'school-placements',
          classes: 'govuk-!-font-weight-bold'
        } ]
      }) }}


  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">



{{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Organisation name"
            },
            value: {
              text: "Whitburn Church of England Academy"
            }
          },
          {
            key: {
              text: "UK provider reference number (UKPRN)"
            },
            value: {
              text: "1003254"
            }
          },
          {
            key: {
              text: "Unique reference number (URN)"
            },
            value: {
              html: "136386"
            }
          }
        ]
      }) }}


      <h2 class="govuk-heading-m govuk-!-margin-top-9">Additional details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Establishment group"
            },
            value: {
              text: "Academies"
            }
          },
          {
            key: {
              text: "Phase"
            },
            value: {
              text: "Secondary"
            }
          },
          {
            key: {
              text: "Gender"
            },
            value: {
              text: "Mixed"
            }
          },
          {
            key: {
              text: "Age range"
            },
            value: {
              text: "11 to 18"
            }
          },
          {
            key: {
              text: "Religious character"
            },
            value: {
              text: "Church of England"
            }
          },
          {
            key: {
              text: "Admissions policy"
            },
            value: {
              text: "Non-selective"
            }
          },
          {
            key: {
              text: "Urban or rural"
            },
            value: {
              text: "(England/Wales) Urban city and town"
            }
          },
          {
            key: {
              text: "School capacity"
            },
            value: {
              text: "1,305"
            }
          },
          {
            key: {
              text: "Total pupils"
            },
            value: {
              text: "1,240"
            }
          },
          {
            key: {
              text: "Total boys"
            },
            value: {
              text: "598"
            }
          },
          {
            key: {
              text: "Total girls"
            },
            value: {
              text: "642"
            }
          },
          {
            key: {
              text: "Percentage free school meals"
            },
            value: {
              text: "11%"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-9">
        Special educational needs and disabilities (SEND)
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Special classes"
            },
            value: {
              text: "Not entered"
            }
          },
          {
            key: {
              html: '<abbr title="Special educational needs and disability">SEND</abbr> provision'
            },
            value: {
              text: "Not entered"
            }
          }
        ]
      }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-9">
      Ofsted details
    </h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Rating"
          },
          value: {
            text: "Good"
          }
        },
        {
          key: {
            text: "Last inspection date"
          },
          value: {
            text: "13 November 2019"
          }
        }
      ]
    }) }}

  <h2 class="govuk-heading-m govuk-!-margin-top-9">
      Contact details
    </h2>

  {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Email address"
          },
          value: {
            html: "<a href='mailto:admin@whitburncofeacademy.org'>admin@whitburncofeacademy.org</a>"
          }
        },
        {
          key: {
            text: "Telephone number"
          },
          value: {
            html: "0191 632 2757"
          }
        },
        {
          key: {
            text: "Web address"
          },
          value: {
            html: "<a href='https://www.whitburncofeacademy.org/'>https://www.whitburncofeacademy.org/ (opens in new tab)</a>"
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: "<p class='govuk-body'>Whitburn<br>Sunderland<br>Tyne and Wear<br>SR6 7EF</p>"
          }
        }
      ]
    }) }}

  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
