{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "_components/primary-navigation/macro.njk" import appPrimaryNavigation %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Manage school placements",
    serviceUrl: "/",
    navigation: [
      {
        href: "#",
        text: "Your account"
      },
      {
        href: "#2",
        text: "Sign out"
      }
    ]
  }) }}

    {# Add phase banner #}
	{# ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ #}
  <div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.',
    classes: "govuk-phase-banner--no-border-bottom"
  }) }}
  </div>

  {# Add primary nav #}
	{# ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ #}
  {{ appPrimaryNavigation({
      items: [
        {
          href: "placements",
          text: "Placements",
          active: primaryNavId == "placements"
        },
        {
          href: "providers",
          text: "Partner schools",
          active: primaryNavId == "partners"
        },
        {
          href: "users",
          text: "Users",
          active: primaryNavId == "users"
        },
        {
          href: "details",
          text: "Organisation details",
          active: primaryNavId == "details"
        }
      ]
    }) }}

    {% endblock %}

{% block beforeContent %}

	{% block backLink %}

		{# Add a javascript back link, remove on pages that don't need it with:
		{# ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ #}
		{# {% set back = false %} #}
		{# ░░░░░░░░░░░░░░░░░░░░░░ #}

		{{ govukBackLink({
			html: 'Back',
			href: 'javascript:history.back()'
		}) if back != false }}

	{% endblock %}

{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
        href: "/school-users/v1/assign-a-provider",
        text: "Add a provider (messaging for schools)"
      },
      {
        href: "/manage-prototype",
        text: "Manage prototype"
      },
      {
        href: "/manage-prototype/clear-data",
        text: "Clear data"
      }
    ]
  }
}) }}

{% endblock %}