{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "_components/primary-navigation/macro.njk" import appPrimaryNavigation %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Manage school placements",
    serviceUrl: "/",
    navigation: [
      {
        href: "organisation-change",
        text: "Organisations"
      },
      {
        href: "support-users-switch",
        text: "Support users"
      },
      {
        href: "settings-switch",
        text: "Settings"
      },
      {
        href: "#2",
        text: "Sign out"
      }
    ]
  }) }}

  {# Add phase banner #}
	{# ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ #}
  <div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  </div>

{% if data['signedinasorg'] === "true" %}

  {# Add MAT Header #}
	{# ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ #}
  <div class="app-organisation-actions govuk-width-container">
     <div class="app-organisation-actions__title">Whitburn Church of England Academy</div>
     <div class="app-organisation-actions__actions"><a href="organisation-change">Change organisation</a></div>
  </div>
  </div>

  {# Add primary nav #}
	{# ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ #}
  {{ appPrimaryNavigation({
      items: [
        {
          href: "placements",
          text: "Placements",
          active: primaryNavId == "placements"
        },
        {
          href: "mentors",
          text: "Mentors",
          active: primaryNavId == "mentors"
        },
        {
          href: "providers",
          text: "Providers",
          active: primaryNavId == "providers"
        },
        {
          href: "users",
          text: "Users",
          active: primaryNavId == "users"
        },
        {
          href: "details",
          text: "Organisation details",
          active: primaryNavId == "details"
        }
      ]
    }) }}

    {% endif %}

    {% endblock %}

{% block beforeContent %}

	{% block backLink %}

		{# Add a javascript back link, remove on pages that don't need it with:
		{# ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ #}
		{# {% set back = false %} #}
		{# ░░░░░░░░░░░░░░░░░░░░░░ #}

		{{ govukBackLink({
			html: 'Back',
			href: 'javascript:history.back()'
		}) if back != false }}

	{% endblock %}

{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
        href: "#",
        text: "Accessibility"
      },
      {
        href: "#",
        text: "Cookies"
      },
      {
        href: "/static/privacy",
        text: "Privacy notice"
      },
      {
        href: "/static/tandc",
        text: "Terms and conditions"
      },
      {
        href: "/manage-prototype/clear-data",
        text: "Clear data"
      }
    ]
  }
}) }}

{% endblock %}

